<div class="row">
    <div class="col-12">
        <a routerLink="/dashboard" routerLinkActive="active"> Back</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div>Traveller DashBoard</div>
    </div>
</div>
<div class="row" style="margin-top:20PX;">
    <div class="col-12">
        <ul class="nav nav-tabs">
            <li style="margin-right:10px;"><a routerLink="/traveller/home" routerLinkActive="active">Attributes Directive</a> ||</li>
            <li style="margin-right:10px;"><a routerLink="/traveller/user" routerLinkActive="active">Pipe</a> ||</li>
            <li><a routerLink="/traveller/profile" routerLinkActive="active">Comm. between Componets (Parent-Child)</a></li>
        </ul>
    </div>
</div>
<p> Example of Lazy Loading with Authguard</p>
<div class="row" style="margin-top:20PX;">
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>


